!*/
!**.md
!**.png
!**.py
!**.ipynb
**/.ipynb_checkpoints
**/.vscode
**.pdf
**.doc
**.zip
**.pyc
**.ppt
**.pptx
**.docx
**.rar
**.js
**.gz
!AlgAnal/*.html
NLP-courses/hebdepparser/*
NLP-courses/89687-DL/Assignment1/code/venv/
NLP-courses/89680-NLP/assignment3/bow5.words.bz2
NLP-courses/89680-NLP/assignment3/wikipedia.sample.trees.lemmatized
NLP-courses/89687-DL/Assignment1/original_code/
!NLP-courses/89687-DL/Assignment1/DLP-testing_assign1.ipynb
!NLP-courses/89687-DL/Assignment1/code/DLP-testing_assign1.ipynb
NLP-courses/89687-DL/Assignment4/publish/
2020-1/DSP2/epdf.pub_multirate-systems-and-filter-banks.djvu
**/*.m~
**/.~lock*
books
