Assignment1/code.tar
Assignment1/code.tgz
Assignment1/code/.idea/
Assignment1/code/dev
Assignment1/code/test
Assignment1/code/test.pred
Assignment1/code/train
Assignment1/data.tar
Assignment1/data.tgz
Assignment1/data/
Assignment1/feature_file
Assignment1/test.txt
Assignment3/code/.._379396.dy.data
Assignment3/code/.._379396.dy.meta
Assignment3/code/.._trainwords.pickle
Assignment3/code/README.acceptor.txt
Assignment3/code/README.bilstm.txt
Assignment3/code/best_accuracies.txt
Assignment3/code/dev
Assignment3/code/dev1
Assignment3/code/dev2
Assignment3/code/dev3
Assignment3/code/dev4
Assignment3/code/dev_cnt
Assignment3/code/dev_ms
Assignment3/code/even_dev
Assignment3/code/even_train
Assignment3/code/model_a_ner.data
Assignment3/code/model_a_ner.meta
Assignment3/code/model_b3_pos.data
Assignment3/code/model_b3_pos.meta
Assignment3/code/model_b_ner.data
Assignment3/code/model_b_ner.meta
Assignment3/code/model_c_ner.data
Assignment3/code/model_c_ner.meta
Assignment3/code/model_c_pos.data
Assignment3/code/model_c_pos.meta
Assignment3/code/model_d_ner.data
Assignment3/code/model_d_ner.meta
Assignment3/code/model_d_pos.data
Assignment3/code/model_d_pos.meta
Assignment3/code/mono_dev
Assignment3/code/mono_dev1
Assignment3/code/mono_train
Assignment3/code/mono_train1
Assignment3/code/mult_dev
Assignment3/code/mult_train
Assignment3/code/neg_examples
Assignment3/code/ner_16121.dy.data
Assignment3/code/ner_16121.dy.meta
Assignment3/code/ner_329753.dy
Assignment3/code/ner_424991.dy.data
Assignment3/code/ner_424991.dy.meta
Assignment3/code/ner_549013.dy
Assignment3/code/ner_637086.dy
Assignment3/code/ner_92864.dy
Assignment3/code/ner_987126.dy
Assignment3/code/ner_trainwords.pickle
Assignment3/code/number_dev1
Assignment3/code/number_train1
Assignment3/code/part2_results.txt
Assignment3/code/pos_136836.dy.data
Assignment3/code/pos_136836.dy.meta
Assignment3/code/pos_148571.dy
Assignment3/code/pos_360597.dy
Assignment3/code/pos_606727.dy
Assignment3/code/pos_805363.dy.data
Assignment3/code/pos_805363.dy.meta
Assignment3/code/pos_examples
Assignment3/code/report.json
Assignment3/code/submit.bash
Assignment3/code/train
Assignment3/code/train1
Assignment3/code/train2
Assignment3/code/train3
Assignment3/code/train4
Assignment3/code/train_cnt
Assignment3/code/train_ms
Assignment3/ner/
Assignment3/pos/
Assignment3/review/
Assignment4/Amazon EC2 P3 for DL user review.url
Assignment4/README
Assignment4/__MACOSX/
Assignment4/code/profile_report.txt
Assignment4/code/profiling.txt
Assignment4/glove_filterd_tail.txt
Assignment4/glove_filtered00.txt
Assignment4/glove_filtered_dev.txt
Assignment4/glove_filtered_test.txt
Assignment4/glove_filtered_train.txt
Assignment4/publish.bash
Assignment4/report/FinalReport.html
Assignment4/save/
Assignment4/setup_machine.bash
Assignment4/snli_1.0/

